.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    overflow-y: auto;

    &__header {
        font-size: 24px;
        line-height: 24px;
        color: var(--ion-color-primary);
        text-align: center;
        width: 100%;
        border-bottom: 1px solid gray;
        padding-bottom: 1px;
        margin-bottom: 5%;


    }

    &__content {
        width: 100%;
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__select{
                width: 100%;
            }
            
            & > *:not(:first-child) {
                margin-top: 12px;
            }

            & > :last-child {
                margin-top: 32px;
            }
        }
        
    }
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }

 .button {
     &--dismiss {
         position: absolute;
         top: 2%;
         right: 2%;
     }
 }