.delete-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__header {
        .button {
            &--dismiss {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        &__title{
            margin-top: 16px;       
            font-size: 24px;
            color: var(--ion-color-primary);
            border-bottom: 1px solid gray;
            padding-bottom: 1px;
            margin-bottom: 5%;
            text-align: center;
        }
    }

    &__body {
        width: 100%;
    }

    &__footer {
        
    }
}