.owners {
    display: flex;
    align-items: center;

    .owner {
        padding: 16px;
        border-radius: 3px;

        &:not(:first-child) {
            margin-left: 16px;
        }

        @media screen and (max-width: 600px) {
            font-size: 10px;
            padding: 10px;
        }
    }
}


.rafa {
    background-color: indianred;
    color: whitesmoke;
}

.angel {
    background-color:#DEB521;
    font-weight: 600;
}

.papa {
    font-weight: 600;
    background-color: #33B0DE;
}