
ion-title {
  text-align: center;
  font-weight: bolder;
}
.content {
  height: fit-content;
  overflow-y: auto;
}
.grid {
  width: 100%;
  padding: 16px 16px;  

  &__row {
    flex-wrap: nowrap;
    justify-content: center;

    &__col {
      &--date {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.3rem;
        padding-bottom: 16px;
        color: #4D4D4D;
        font-weight: 600;
        letter-spacing: 1.2px;
      }
      
    &--title {
      font-size: 12px;
      text-align: center;

      @media screen and (max-width: 600px) {
        font-size: 10px;
      }
      
      @media screen and (max-width: 400px) {
        font-size: 8px;
      } 


      @media screen and (min-width: 800px) {
        font-size: 12px;
      }
    }
    }
  }

  .day {
    display: flex;
    flex-direction: column;
    &--title {
      flex: 1 0;

      background-color: #DB74D3;
      border-radius: 2px;
      color: white;
      margin-bottom: 24px;
    }
  }
}

.owners {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  .owner {
  }

  .add {
    position: relative;
    
    margin-left: 32px;
  }
}

.today {
  background-color: #4B8F2F !important;
}

.button {
  &--delete {
    margin-right: 32px;
  }
}

