<ion-header [translucent]="true" class="ion-no-border ion-padding-bottom">
  <ion-toolbar >
    <div class="owners">
      <app-owners class="owner"></app-owners>
      <div class="add">
        <ion-button (click)="addTask()" >
          <ion-icon slot="icon-only" name="add" ></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-grid class="grid">
    <ion-row class="grid__row">
      <ion-col class="grid__row__col grid__row__col--title">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Monday'}">
            Monday
          </ion-col>
          <ion-col>
            <app-task day='Monday'></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="grid__row__col grid__row__col--title ">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Tuesday'}">
            Tuesday
          </ion-col>
          <ion-col>
            <app-task day='Tuesday'></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="grid__row__col grid__row__col--title">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Wednesday'}">
            Wednesday
          </ion-col>
          <ion-col>
            <app-task day='Wednesday'></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="grid__row__col grid__row__col--title">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Thursday'}">
            Thursday
          </ion-col>
          <ion-col>
            <app-task day='Thursday'></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="grid__row__col grid__row__col--title">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Friday'}">
            Friday
          </ion-col>
          <ion-col>
            <app-task day='Friday'></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="grid__row__col grid__row__col--title">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Saturday'}">
            Saturday
          </ion-col>
          <ion-col>
            <app-task day='Saturday'></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="grid__row__col grid__row__col--title">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Sunday'}">
            Sunday
          </ion-col>
          <ion-col>
            <app-task day='Sunday'></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

