<ion-header [translucent]="true" class="ion-no-border ion-padding-bottom">
  <ion-toolbar >
    <div class="owners">
      <app-owners class="owner"></app-owners>
      <div class="add">
        <ion-button (click)="addTask()" >
          <ion-icon slot="icon-only" name="add" ></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="content" >
  <ion-grid class="grid" id="schedule">
    <ion-row class="grid__row">
      <ion-col class="grid__row__col grid__row__col--title">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Monday'}">
            Monday
          </ion-col>
          <ion-col class="test">
            <app-task day='Monday' #monday></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="grid__row__col grid__row__col--title ">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Tuesday'}">
            Tuesday
          </ion-col>
          <ion-col>
            <app-task day='Tuesday' #tuesday></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="grid__row__col grid__row__col--title">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Wednesday'}">
            Wednesday
          </ion-col>
          <ion-col>
            <app-task day='Wednesday' #wednesday></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="grid__row__col grid__row__col--title">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Thursday'}">
            Thursday
          </ion-col>
          <ion-col>
            <app-task day='Thursday' #thursday></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="grid__row__col grid__row__col--title">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Friday'}">
            Friday
          </ion-col>
          <ion-col>
            <app-task day='Friday' #friday></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="grid__row__col grid__row__col--title">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Saturday'}">
            Saturday
          </ion-col>
          <ion-col>
            <app-task day='Saturday' #saturday></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="grid__row__col grid__row__col--title">
        <ion-row class="day">
          <ion-col class="day--title" [ngClass]="{'today' : today === 'Sunday'}">
            Sunday
          </ion-col>
          <ion-col>
            <app-task day='Sunday' #sunday></app-task>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onDownloadPdfSchedule()">
      <ion-icon name="cloud-download-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

