ion-title {
  text-align: center;
  font-weight: bolder;
}
.content {
  height: fit-content;
}

.grid {
  width: 100%;
  padding: 32px 16px;

  @media screen and (max-width: 600px) {
    padding-top: 16px;
  }

  &__row {
    
    flex-wrap: nowrap;
    justify-content: center;

    &__col {
      
    &--title {
      font-size: 12px;
      text-align: center;

      @media screen and (max-width: 600px) {
        font-size: 10px;
      }
      
      @media screen and (max-width: 400px) {
        font-size: 8px;
      } 


      @media screen and (min-width: 800px) {
        font-size: 12px;
      }
    }
    }
  }

  .day {
    display: flex;
    flex-direction: column;
    &--title {
      flex: 1 0;

      background-color: #DB74D3;
      border-radius: 2px;
      color: white;
      margin-bottom: 24px;
    }
  }
}

.owners {
  display: flex;
  justify-content: center;
}